*{
    margin: 0px;
    padding: 0px; 
}

.navbar{
    height: 100px;
    display: flex;
    flex-direction: row;
    font-family: var(--titulos);
    position: fixed;
    width: 100%;
    z-index: 3;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 200px;
}

.links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul{
    display: flex;
    list-style: none;
}
.links a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin-right: 50px;

}
.login{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: white;

}

.login a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login p{
    padding: 5px;
}

.active {
    border-bottom: 4px solid white;
    border-radius: 5px;
}

.dot-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    background-color: rgba(85, 87, 90, 1);
    padding: 1rem;
    top: 95px;
    right: 166px;
    top: 79px;
    right: 131px;
    border-radius: 5px;
    width: 100px;

    span {
        color: white;
        cursor:pointer;
    }
}