*{
    margin: 0px;
    padding: 0px; 
}

.navbar{
    height: 100px;
    display: flex;
    flex-direction: row;
    font-family: var(--titulos);
}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 200px;
}

.links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul{
    display: flex;
    list-style: none;
}
.links a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    margin-right: 50px;

}
.login{
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.login a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}