*{
    margin: 0px;
    padding: 0px; 
}

.navbar{
    height: 100px;
    display: flex;
    flex-direction: row;
    font-family: var(--titulos);
    position: fixed;
    width: 100%;
    z-index: 9;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 200px;
}

.links{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.links ul{
    display: flex;
    list-style: none;
}
.links a{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    margin-right: 50px;

}

.nav_link{
    color: rgba(255,255,255,1);
    position: relative;
}

.links a:hover{
    color: rgba(255,255,255,0.85);
}

.nav_link::after{
    content: "";
    height: 4px;
    width: 100%;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 0px;
    opacity: 0;
}

.nav_link:hover::after{
    opacity: 1;
}

.login{
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: white;

}

.login a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login p{
    padding: 5px;
}

.active {
    border-bottom: 4px solid white;
}

.dot-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: absolute;
    background-color: rgba(85, 87, 90, 1);
    padding: 1rem;
    top: 95px;
    right: 166px;
    top: 79px;
    right: 131px;
    border-radius: 5px;
    width: 100px;

    span {
        color: white;
        cursor:pointer;
    }
}

.ri-home-gear-line:hover {
    cursor: pointer;
}