.calendar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #EBA935;
    height: 120vh;
    padding-top: 90px;

  }
  
  .backgroundImg {
    opacity: 0.9;
    width: 80%;
    position: fixed;
    left: 616px;
    top: -60px;
    height: auto;
    overflow: hidden;
    z-index: 1;
}
  .calendar__title {
    font-size: 2rem;
    color: #fff;
    margin-bottom: 20px;
    font-family: var(--titulos);
  }
  
  .calendar__content {
    width: 850px;
    margin-bottom: 20px;
  }
  
  .calendar__full-calendar {
    width: 100%;
    background-color: #55575A;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: var(--parrafos);
    z-index: 5;
    position: relative;
  }

  .fc-right .fc-prev-button, .fc-right .fc-next-button{
    background-color: #621D74;
    background-image: none;
}
  .button-53 {
    z-index: 2;
    background-color: #621D74;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: var(--titulos);
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 460px;
    position: relative;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 30px 0 55px 0;
}

.button-53:focus {
    outline: 0;
}

.button-53:after {
    content: '';
    position: absolute;
    border: 1px solid #000000;
    bottom: 4px;
    left: 4px;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}

.button-53:hover:after {
    bottom: 2px;
    left: 2px;
}

@media (min-width: 768px) {
    .button-53 {
        padding: .75rem 3rem;
        font-size: 1.25rem;
    }
}

.ventanaEmergente-textos{
  margin: 20px;
}

.ventanaEmergente {
  width: 300px;
  background-color: #621D74;
  z-index: 10;
  border-radius: 10px;
  color: white;
  padding: 20px;
  font-family: var(--parrafos);
  text-align: center;
}

.contenedor {
  background-color: #000000a4;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ri-close-circle-line {
  position: relative;
  left: 45%;
  font-size: 20px;
}
