* {
    background-color: #55575A;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer img {
    width: 500px;
}

.redesSociales ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.redesSociales i {
    color: white;
    margin: 10px;
    height: 20px;
    font-size: 60px;
    text-decoration: none;

}

.contactanos {
    color: white;
    text-align: center;
    font-family: var(--titulos);
    font-size: 25px;
}

.contactanos p {
    margin-bottom: 0;
    font-family: var(--parrafos);
}