<app-navbar background="#91BE28"></app-navbar>
<section class="quienesSomos">
    <div class="misionVisionBox">
        <div class="misionVision">
            <h3>Misión</h3>
            <p>Promovemos el uso y el disfrute de la bicicleta en mujeres y hombres apasionados por el deporte y el
                movimiento; brindando espacios de empoderamiento y acompañamiento enfocados en la evolución humana
            </p>
        </div>

        <div class="misionVision">
            <h3>Visión</h3>
            <p>En cinco años BiciTourx tendrá sede física en la ciudad de Bogotá, brindando acogida a viajeros en
                bicicleta, espacios de formación y acompañamiento, deportivo. Fortaleciendo la identidad ciclista
            </p>
        </div>
    </div>

    <div class="nuestroEquipo">
        <h3>Nuestro equipo</h3>
        <img src="./assets/media/qs equipo.jpg" alt="equipoBicitour" width="80%">

        <div class="perfilesEquipo">
            <div class="fotosPerfil">
                <img src="./assets/media/biciLiz.jpg" alt="">
                <img src="./assets/media/normiLiz.jpg" alt="">
            </div>
            <div class="textoPerfil">
                <h4>Liz Juliana Quiroga Pérez (Liz Nana)</h4>
                <p>Soy promotora y gestora de la bici desde 2018, Comunicadora Social - Periodista con enfoque organizacional y de relaciones públicas. A través de cada pedaleo, quiero conectar con una comunidad cicloviajera local, departamental e internacional , donde se reconozcan las experiencias de todxs. Dando biela nos encontraremos.</p>
            </div>
        </div>
        <div class="perfilesEquipo">
            <div class="fotosPerfil">
                <img src="./assets/media/biciMapu.jpg" alt="">
                <img src="./assets/media/normiMapu.jpg" alt="">
            </div>
            <div class="textoPerfil">
                <h4>María Paula Vasquez Gómez (Mapuma)</h4>
                <p>Trabajadora Social. Soy apasionada por las diversidades culturales. Me destaco por mi ímpetu  y la motivación de vivir nuevas experiencias desde el arte y el ciclismo para exponer las distintas formas de narrar y construir memoria colectiva</p>
            </div>
        </div>
        <div class="perfilesEquipo">
            <div class="fotosPerfil">
                <img src="./assets/media/biciRola.JPG" alt="">
                <img src="./assets/media/normiRola.JPG" alt="">
            </div>
            <div class="textoPerfil">
                <h4>Laura Carolina Pava García (Rola en Bici)</h4>
                <p>Soy una mujer nacida en una de las ciudades con el tráfico más caótico del mundo: Bogotá. Hace 10 años me di ‘la pela’ eligiendo la bicicleta como mi principal medio de transporte y desde entonces, literalmente, voy a todo lado en bici: he llegado al pueblitos, al mar, he atravesado montañas, cordilleras y ríos, hasta llegué a otro país montada en pedales. Creo fielmente que la bici es una herramienta poderosa para las mujeres y a través de mi profesión, el periodismo, promuevo su uso y busco cambiar la vida de quienes como yo se decidimos intentar rodar en medio del caos. Cambiamos el mundo un día a la vez.</p>
            </div>
        </div>
    </div>
</section>

