<app-navbar background="#621D74"></app-navbar>
<section class="cajaEnfoques">
    <img class="backgroundImg" alt="" src="../../../assets/img/LogoTexto.png">
    <p class="titulo">Al unirte a Bicitour X, tendrás acceso a nuestras tres categorías:</p>
    <div class="enfoques">
        <div class="bicitourTeam cajaEnfoquesIndividual">
            <h3>BICITOUR TEAM</h3>
            <p>Enfoque competitivo en Criterium</p>
        </div>
        <div class="viajesBicicleta cajaEnfoquesIndividual">
            <h3>VIAJES EN BICICLETA</h3>
            <p>Viajamos y documentamos todos los lugares
                que con nuestras bicicletas
                podemos conocer en Colombia y el mundo.
            </p>
        </div>
        <div class="bicitourGroup cajaEnfoquesIndividual">
            <h3>BICITOUR GROUP</h3>
            <p>Aprovechamos el potencial de la
                bicicleta para impactar de manera
                positiva en la sociedad subiendo
                cada vez más personas a la bici
            </p>
        </div>
    </div>
    <div>
        <a href="https://wa.me/message/HSXUQ7TPHT5KM1" target="_blank"><button class="button-53" role="button">Contactanos</button></a>
    </div>
</section>