<app-navbar background="#EBA935"></app-navbar>
<section class="eventos">
    <img class="backgroundImg" alt="" src="../../../assets/img/LogoTexto.png">
    <div class="eventosActivos">
        <h3 class="headingPrin">Eventos activos</h3>

        <div class="cajaEventos">
            <div class="eventoImg">
                <img src="./../../../assets/img/imgEvents/event.jpeg" alt="">
            </div>
            <div class="eventoDes">
                <h4>Nombre Evento</h4>
                <p>Fecha: </p>
                <p>Hora: </p>
                <p>Ubicación: </p>
                <p>Costo: </p>
                <p>Distancia: </p>
                <p>Categoria: </p>
                <p>Descripcion: </p>
            </div>
        </div>
    </div>
</section>
