<app-navbar background="#EBA935"></app-navbar>
<section class="eventos">
    <img class="backgroundImg" alt="" src="../../../assets/img/LogoTexto.png">
    <div class="eventosActivos">
        <h3 class="headingPrin">Eventos activos</h3>

        <div class="cajaEventos">
            <div class="eventoImg">
                <img src="./../../../assets/img/imgEvents/event.jpeg" alt="">
            </div>
            <div class="cajaDescripcion">
                <div class="eventoDes">
                    <p>🚲Sacro Piques va dirigida no solo a la comunidad fixera sino a todas las personas que quieran
                        apoyar, aportar y participar para la recuperación física de nuestra corredora Stefania
                        Puentes 🚴🏼‍♀️. Es un formato de explosividad🔥, son 100mts en los que entregarás todo para
                        llevarte uno de los 3️⃣ primeros puestos en cargo, fija y ruta.
                        Si quieres apoyar con tu marca escríbenos 💬y se parte de la bolsa de premios ❤️
                        Este viernes 21 de junio nos vemos en la 📍Biblioteca Virgilio Barco.</p>
                </div>
                <div class="boton">
                    <a href=""><button class="button-53">Inscribete</button></a>
                </div>
            </div>
        </div>
    </div>
</section>